<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/A1_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Review of Functions**

Notebook 6 covers functions.<br>
This notebook will review those concepts

Defining a function:<br>
>def function_name(optional parameter1, optional parameter2, etc):<br>
>>function statements<br>
return statement(optional)

**Assignment 1:**<br>
Create a function that:<br>
>accepts a list<br>
prints the length of the list<br>
prints every other index in the list

**Assignment 2:**<br>
Create a function that accepts a list of floats<br>
The function returns a list that has:<br>
>the max from the input list<br>
>the min from the input list<br>

**Single Line for Loops**

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(5):print(i)

**Assignment**:<br>
Write a single line for loop that prints a list of strings

**More complex single line for loops**

In [ ]:
for i in range(5):
  if i<3:
    j=i*4
  else:
    j=-1
  print(j)

In [ ]:
for i in range(5):
  print(i*4 if i<3 else -1)

In [ ]:
for i in range(5):print(i*4 if i<3 else -1)

In [ ]:
numbers = [8,34,54,67,66,98,2,4,3,45,123,234,345,52]
even_numbers = [num for num in numbers if not num % 2]
print(even_numbers)

**Assignment** <br>
Using a single line for loop,<br>
>read a list<br>
remove any non-numbers from the list<br>

**List Comprehension**<br>
List comprehension is a concise way of creating lists.<br>
<br>

list_name = [\<expression> for \<item> in \<collection> if \<expression>]

In [ ]:
cubes=[]
for i in range(5):
  cubes.append(i**3)
print(cubes)

In [ ]:
cubes = [i**3 for i in range(5)]
print(cubes)

Assignment<br>
Create a list using a single line for loop

In [ ]:
two_dim_list = [[x for x in range(5)] for y in range(2)]
print(two_dim_list)

Assignment<br>
Create a two dimensional list using a single line nested for loop

In [ ]:
numbers = [1,2,3,4,5,6]
coordinates = []
for i in numbers:
  for j in numbers:
    if i != j:
      coordinates.append((i,j))
print(coordinates)

In [ ]:
coordinates = [(i,j) for i in numbers for j in numbers if i != j]
print(coordinates)

**Assignment**

In [ ]:
integers = [x if x%2==0 else x-1 for x in range(15)]
print(integers)

In [ ]:
#@title 
integers=[]
for x in range(15):
  if x%2 == 0:
    integers.append(x)
  else:
    integers.append(x-1)

print(integers)

However, you can not use the else statement within the context part. When I executed this code snippet, I was surprised that it throws an error:

In [ ]:
# WRONG (INVALID SYNTAX)
lst = [x for x in range(10) if x%2==0 else x-1]
print(lst)