<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/A1_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Review of Functions**

Notebook 6 covers functions.<br>
This notebook will review those concepts

Defining a function:<br>
>def function_name(optional parameter1, optional parameter2, etc):<br>
>>function statements<br>
return statement(optional)

**Assignment 1:**<br>
Create a function that:<br>
>accepts a list<br>
prints the length of the list<br>
prints every other index in the list

In [ ]:
list_p = [1,2,3,4,5]
count=len(list_p)
def func():
  print(count)
  for i in range(0,count,2):
    print(i)

func()

In [ ]:
def list_counter(input_list):
  count=len(input_list)
  print("length=",count)
  for i in range(0,count,2):
    print(input_list[i])

In [ ]:
a=[99,1,2,3,4,5,6,7,8,9]
list_counter(a)

**Assignment 2:**<br>
Create a function that accepts a list of floats<br>
The function returns a list that has:<br>
>the max from the input list<br>
>the min from the input list<br>

In [ ]:
def min_max(list_in):
  return min(list_in), max(list_in)

In [ ]:
a=[99,1,2,3,4,5,6,7,8,9]
n,x=min_max(a)
print(type(min_max(a)))
print(type(n))

**Single Line for Loops**

In [ ]:
for i in range(5):
  print(i)

In [ ]:
for i in range(5):print(i)

**Assignment 3**:<br>
Write a single line for loop that prints a list of strings

In [ ]:
pets = ['cat', 'dog', 'snake']

for pet in pets: print (pet)

**More complex single line for loops**

In [ ]:
for i in range(8):
  if i<3:
    j=i*4
  else:
    j= 88
  print(i,j)

In [ ]:
for i in range(5):
  print(i*4 if i<3 else -1)

In [ ]:
for i in range(5):print(i*4 if i<3 else -1)

In [ ]:
numbers = [8,34,54,67,66,98,2,4,3,45,123,234,345,52]
even_numbers = [num for num in numbers if not num % 2]
print(even_numbers)

**Assignment 4** <br>
Using a single line for loop,<br>
>read a list<br>
remove any non-numbers from the list<br>

In [ ]:
junk = ['4', 'cat', 'horse', '324', '23', 'coffee']

just_nums = [ i for i in junk if i.isdigit()] 
print (just_nums)

In [ ]:
try1 = [12,'ef', 23,'e',34, 'shu7bham',25.54, '@', '#']

def remove_non_numbers(try1):
  try1 =  [i for i in try1 if type(i) == int]
  print(try1)


remove_non_numbers(junk)

In [ ]:
numbers_only_list = [item for item in ["string",4,"number",56,0.4] 
                     if isinstance(item, (int, float))]
print(numbers_only_list)

In [ ]:
try1 = [12,'ef', 23,'e',34, 'shu7bham',25.4, '@', '#']

def remove_non_numbers(try1):
  try1 =  [i for i in try1 if type(i) == int or type(i) == float]
  print(try1)
  
remove_non_numbers(try1)

**List Comprehension**<br>
List comprehension is a concise way of creating lists.<br>
<br>

list_name = [\<expression> for \<item> in \<collection> if \<expression>]

In [ ]:
cubes=[]
for i in range(5):
  cubes.append(i**3)
print(cubes)

In [ ]:
cubes = [i**3 for i in range(5)]
print(cubes)

**Assignment 5**<br>
Create a list using a single line for loop

In [ ]:
list_ints = ["a"+str(i) for i in range(10)]
print(list_ints)

In [ ]:
#Create list of strings (3), floats (2), ints (1)
def myfunc(date_type):
  return [x if date_type == 1 else float(x) if date_type == 2 else str(x) for x in range(5)]

print(myfunc(1))

In [ ]:
two_dim_list = [[x for x in range(5)] for y in range(3)]
print(two_dim_list)

**Assignment 6**<br>
Create a two dimensional list using a single line nested for loop

In [ ]:
# Prints a list of lists containing roots, squares, and cubes for a range of numbers
def double_trouble():
  return [[y**i for i in range(1,4)] for y in range(1,15)]

print(double_trouble())

In [ ]:
try2 = [[2*x+y for x in range(3)] for y in range(6)]
print(try2)

In [ ]:
numbers = [1,2,3,4,5,6]
coordinates = []
for i in numbers:
  for j in numbers:
    if i != j:
      coordinates.append((i,j))
print(coordinates)

In [ ]:
coordinates = [(i,j) for i in numbers for j in numbers if i != j]
print(coordinates)

**Assignment 7**<br>
Convert the single line forr loop into a multiline for loop

In [ ]:
integers = [x if x%2==0 else x-1 for x in range(15)]
print(integers)

In [ ]:
#@title 
integers=[]
for x in range(15):
  if x%2 == 0:
    integers.append(x)
  else:
    integers.append(x-1)

print(integers)

However, you can not use the else statement within the context part. When I executed this code snippet, I was surprised that it throws an error:

In [ ]:
# WRONG (INVALID SYNTAX)
lst = [x for x in range(10) if x%2==0 else x-1]
print(lst)