<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/C1_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Clone the entire repo.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

In [0]:
from IPython.display import Image
def page(num):
    return Image("c1-content/c1PythonProgramming"+str(num)+ ".png" , width=640)

In [0]:
page(7)

# **Introduction to Machine Learning Programming with Python**

Python offers concise and readable code. While complex algorithms and versatile workflows stand behind machine learning and AI, Python's simplicity allows developers to write reliable systems. Developers get to put all their effort into solving an ML problem instead of focusing on the technical nuances of the language.

In [0]:
#Print a string
print("hello world!")

# **Assignment #0**
1. Write Python code to print 
<br> Hello world, it's me, your-name

In [0]:
#Assignment 0
#Use comments to explain how your program works. 
#Comments begin with a hashtag. 

#TODO - when you see TODO - that is where you are to add code.

Python was designed to be very easy to read.<br> 
Your code should be easy to read.
<br><br>
**In Python, indenting is important. **
<br>
In most other programming languages, indentation is used only to help make the code look pretty. But in Python, it is required for indicating what block of code a statement belongs to.

In [0]:
page(1)

In [0]:
page(2)

In [0]:
#Python indenting example
#This line has no indent
print("indenting has meaning in Python")
print("no indent")

In [0]:
#Python indenting example
#This line has an incorrect indent 
#and will not compile correctly
print("indenting has meaning in Python")
  print("no indent")

# Variables

Variables are containers for storing data values.

In [0]:
#Assign variables
first_name = "John"
last_name = "Deere"
print(first_name, last_name)

# **Assignment #1**
1. Add a comment line listing your name, and the assignment number. 
2. Assign the variable first_name the value of your first name<br>
3. Assign the variable last_name the value of your last name<br>
4. Print the variables on the same line. <br>

In [0]:
#Add comment and variables
#Print name
#TODO

Variable names are case-sensitive
firstName is a different variable than FirstName

In [0]:
#Variable names are case sensitive
first_name = "Cali"
First_Name = "Janice"
print(first_name)
print(First_Name)

# **Assignment #2**
Create two variables: last_name, Last_Name<br>
Assign the variables values<br>
Print the variables on separate lines. <br>

In [0]:
#Capitalization matters

#TODO

#Use the internet when programming!
When programming, the internet is your friend. <br>
Lots of Pythn code is available online. <br>
1. When searching the internet, write Python first<br>
For example: "python assign multiple variables on one line"
2. Look at the results, usually the first one or two will tell you how to create multiple variables on the same line.

**For learning Python try**: 


*   [https://www.w3schools.com/python/python_operators.asp](https://www.w3schools.com/python/python_operators.asp)
<br><br>

**For looking for particular code solutions try**: 

*   Stack Overflow
<br><br>

**For Python coding standards try: bold text**


*   http://google.github.io/styleguide/pyguide.html
*   https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

# **Assignment #3**
Create and assign three variables on one line. <br>
Print out the variable values.

*   A variable name must start with a letter or the underscore character
*   A variable name cannot start with a number

*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [0]:
#Search the internet to find the answer
#How to assign 3 variables on one line

#TODO

Print the variable name and the value in the form: <br>
variableName = value <br>

In [0]:
#Example of writing the variableName and the value
variable1 = 'Paul'
variable2 = 'Bunyon'

#print a string then the value of the variable
print("variable1 = " , variable1)
print("variable2 = " , variable2)

# **Assignment #4**
Create and assign values to two variables<br>
Print out the variable names and values.

In [0]:
#Print a string and a variable value

#TODO

Variables can be strings: <br>


> name = "Blue River"<br>



Variables can also be numbers:<br>


>   length = 6<br>
  width = 4.5

Number variables can be: 


> Integers (which are whole numbers)


> Floating Point Numbers (which are real numbers)

In [0]:
#Assigning integer variables
number_of_customers = 65
number_of_shopping_carts = 60
print(number_of_customers, number_of_shopping_carts)

In [0]:
#Assigning float variables
mpg = 24.5
miles = 100.5
print(mpg, miles)

# **Assignment #5**
Create two integer variables.<br>
Create two float variables<br>
Print out the variable names and values.

In [0]:
#Print int and float variable names and values

You can add strings or numbers using the '+" sign.

In [0]:
#Add two Python strings
first_statement = "I want to go to the movies"
second_statement = "tonight"
#Print the two variables side by side
print(first_statement, second_statement)
#Add the two variables and make a new variable
complete_statement = first_statement + second_statement
print(complete_statement)

# **Assignment #6**
When the two string variables are added together, there is no space between them. <br>
Rewrite the code to add a space between "movies" and "tonight" in completeStatement variable.

In [0]:
#Rewrite the code shown above to add a space in the string variable complete_statement

String variables can be only be added (also called concatenated).<br>
Any other math function will produce an error.

In [0]:
#Strings can only be concatenated
string1 = "hello"
string2 = "bye"
string3 = string1 + " " + string2
#The next line will produce an error
string4 = string1 - string2

# Operators

Python has a number of arithmetic operators. <br>

In [0]:
page(3)

# **Getting input from users**<br>
Sometimes you will want to get input from users, you can do it with the code below.

In [0]:
#Ask for two inputs from the user
#the inputs will be assigned as strings
integer1 = input("integer1 =  ")
integer2 = input("integer2 =  ")
#We want the inputs to be integers
#so cast them as integers
integer1 = int(integer1)
integer2 = int(integer2)

**Ask the user for input**<br>
Write code to ask users for string input

In [0]:
#Ask users for input
#Ask the users first_name
#Ask the users last_name
#Print Hello, first_name last_name

Ask the user for input
Write code to ask users for integer input

In [0]:
#Ask the users for: 
#Two integers
#Print out the values

In [0]:
#You can now use the two user inputs in the code
#demonstrate the arithmetic operators
sum = integer1 + integer2
difference = integer1 - integer2
product = integer1 * integer2
div = integer1 / integer2
mod = integer1 % integer2
exponent = integer1 ** integer2
floor = integer1 // integer2

print("sum = ", sum)
print("difference = ", difference)
print("product = ", product)
print("div = ", div)
print("mod = ", mod)
print("exponent = ", exponent)
print("floor = ", floor)

# **Assignment #7**
 Write a program that calculates and prints the area of triangle. <br>
 The triangle has:
 base = 12<br>
 height = 32<br>

 The area of a triangle is A = 1/2(base * height)

The output should have the following format:<br> 
The area of the triangle is: ##

In [0]:
#Assignment #7
#Caluculate the area of a triangle
#TODO

Python has a number of assignment operators <br>
Assignment operators are used to assign values to variables. <br>

In [0]:
page(4)

In [0]:
#Show that the arithmetic operator and the assignment operator
#produce the same values
x = 7
x *= 3
print("x *= 3 ",x)

x = 7
x = x * 3
print("x * 3 =",x)

# **Assignment #8**
Write a program to demonstrate that the arithmetic operations produce the same values as the assignment operators. <br>
For example: <br>

In [0]:
#Assignment 8
#TODO

Variables can also be True/False values (also called Boolean values). <br>
Boolean values can be True or False. <br>
They are often used with comparison, logical, and identity operators.

# Comparison operators

In [0]:
page(5)

In [0]:
#Example of comparison operators
x = 9
y = 9
z = (x==y)
print(z)

w = 9.0
print(x==w)

v = 9.5
print(x==v)

# **Assignment #9**
Write a program that produces a True then a False value for each comparison operator. <br>

In [0]:
#Assignment #9
#TODO comparison operators

# Logical operators

In [0]:
page(6)

In [0]:
#and Example
x = 9
y = 4
z = (x < 10) and (x > 8)
print(z)

# **Assignment #10**
Write a program that produces a True value for each logical operator. Then a False value for each logical operator when


*   x = 32
*   y = 89

In [0]:
#Assignment 10
#Print an example of a true and false statement for each logical operator. 

#TODO

# Python Data Types <br>

You have seen that variables can have different types and can do different things. 
<br>
In ML it is sometimes helpful to know or change a variables data type. <br>

You find and then change a variable's data type in this notebook.

In [0]:
#Variable types are set when you assign the variable
#Use type() to determine a variable's type
x = 439
print(type(x))

# **Assignment 11**
1. Add a comment line listing your name, and the assignment number. 
2. Assign a variable the value 10.23
3. Assign a variable the value "John Deere"
4. Assign a variable the value 897
5. Print the types for each of these variables

In [0]:
#Assignment #1 Variable Types
#TODO

**Type Conversion**

Convert a variable from one data type to another.

In [0]:
#A float variable converted to an int

#Implicit float data type
variable2 = 3/4
print(variable2)

#Change the data type to an integer
variable3 = int(variable2)
print(variable3)

When data types are converted they behave like their new data type.

In [0]:
#Change a string to an integer
str_variable = "30"
int_variable = int(str_variable)
print("string = " + str_variable)
print("integer = ", int_variable)

In [0]:
sum_of_strings = str_variable + str_variable
print("sum of strings = " + sum_of_strings)

In [0]:
sum_of_integers = int_variable + int_variable
print("sum of integers = ", sum_of_integers)

# Assignment #12
1. Add a comment line listing your name, and the assignment number. 
2. Create two float variables
3. Print the sum of the two floats
4. Convert the variables to strings
5. Print the sum of the two strings

In [0]:
#Create floats and print the sum
#Convert the floats to strings, sum the strings
#TODO

# Debugging Exercise

A good way to learn Python is debug someone else's code. <br>
The code below is full of errors. <br>
Your assignment is to fix all the errors in the code.

In [0]:
#Fix the errors in the code 
#so that it runs without errors

number_1 = 45;
number_2 = 2;

print("number_1 + number_2 = " number_1 + number_2)
print("number_1/number_2 = " number_1/number_2)

string_2 = George Washington
string_1 = "My name is " + string_2

string_3 = string-1 + string-2 
print(string_3)

string_4 = 3
string_5 = 55

Add two strings together
sum == string_4 + string_5
print "sum = ", sum

Subtract two strings
diff = string_4 - string_5
print("diff = " diff)

x = 34
y = 35
z = (x = y)
print(x," ==" y " is " z)

xx = 9
yy = 4
zz = (xx < 10) and (xx > 8)
print(xx,  < 10 and , xx, > 8 is , zz)

str_variable = 50"
int_variable = 4

print("string = "  str_variable)
print("integer = " int_variable)

print(str_variable + int_variable)

Congrats! You finished the first Python Module.
Keep up the good work....start the next module

C2 Intro to ML Programming with Python
<br><br>
Instructions to access the notebooks:<br> 
In a Chrome or Firefox Window type on the search bar: **Google CoLab**<br>

On the orange menu bar, select the menu item: **GITHUB**<br>

If the orange pop-up menu does not appear, <br>

In the Notebook environment, select File>Open notebook <br>

The orange pop-up menu should now appear.<br>

Select:  GITHUB<br>

On the search bar type in: **cagBRT**  This will bring up my gitHub repository. <br>

On the drop down menu select: cagBRT/<br>**Intro-To-Programming-with-Python**<br>

Then select: **Intro to C2 Intro to Python.ipynb**<br>