<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/C1_Introduccion_a_ML_en_Python_ES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Clonar todo el repositorio.
!git clone -l -s https://github.com/cagBRT/Intro-to-Programming-with-Python.git cloned-repo
%cd cloned-repo
!ls

In [ ]:
from IPython.display import Image
def page(num):
    return Image("c1-content/c1PythonProgramming"+str(num)+ ".png" , width=640)

In [ ]:
page(7)

# **Introducción a la programación de Machine Learning con Python**

El lenguaje de programación Python se destaca por su código conciso y fácil de leer. Si bien los algoritmos o flujos de trabajo detrás del uso de Machine Learning y la Inteligencia Artificial son complejos, la simplicidad de Python nos permite a nosotros los desarrolladores escribir sistemas viables y escalables. Los desarrolladores en este lenguaje a menudo suelen poner todo su esfuerzo en resolver un problema de Machine Learning en lugar de preocuparse por las partes técnicas del lenguaje.

In [ ]:
# Imprime un String
print("hello world!")

# **Actividad #0**
1. Escribe código en Python que imprima lo siguiente:
<br> Hello world, it's me, *your_name*

In [ ]:
# Actividad 0
# Escribe comentarios para describir como funciona tu código.
# Los comentarios empiezan la línea con el símbolo de hashtag,
# también conocido como gato o número (#)

# TODO - cuando veas un comentario con <TODO>
# es donde se indica que se debería agregar código.

Python fue diseñado con el objetivo de ser fácil de leer.
El código que debemos programar debe ser entendible para todos.

**La indentación en Python es muy importante**

En la mayoría de los lenguajes de progamación, la indentación solamente es usada para que el código sea más legible. Pero en Python es diferente, la indentación es necesaria para indicar a que bloque de código le pertenece cada línea programada.

In [ ]:
page(1)

In [ ]:
page(2)

In [ ]:
# Ejemplo de la indentación en Python
# Estas líneas no tienen indentación
print("indenting has meaning in Python")
print("no indent")

In [ ]:
# Otro ejemplo de la indentación en Python
# Una de las siguientes líneas tiene indentación que no debería tener,
# por lo tanto, Python no compilará el código de este bloque y arrojará un error.
print("indenting has meaning in Python")
  print("no indent")

# Variables

Las variables sirven como contenedores para guardar nuestros datos.

In [ ]:
# Asignación de variables
first_name = "John"
last_name = "Deere"
print(first_name, last_name)

# **Actividad #1**
1. Agrega un comentario que contenga escrito tu nombre y el número de la actividad.
2. Asigna una variable llamada *first_name* con el valor de tu primer nombre.
3. Asigna una variable llamada *last_name* con el valor de tu apellido.
4. Imprime las variables en la misma línea.

In [ ]:
# Añade el comentario y las variables
# Imprime el nombre
#TODO

En el nombre de las variables importan las minúsculas y las mayúsculas. <br>
La variable *firstName* es una variable completamente diferente a una llamada *FirstName*.

In [ ]:
# En el nombre de las variables importan las minúscilas y las mayúsculas.
first_name = "Cali"
First_Name = "Janice"
print(first_name)
print(First_Name)

# **Actividad #2**
Crea dos variables: *last_name* y *Last_Name*<br>
Asignale el valor de tu apellido a las variables<br>
Imprimime las variables en líneas separadas

In [ ]:
#TODO

# ¡Usa el Internet cuando programas!
Cuando uno está programando, el Internet es nuestro mejor amigo.<br>
Hay muchos ejemplos de código en Python disponibles en Internet.<br>
1. Cuando busques en Internet, escribe 'Python' primero<br>
Por ejemplo: "python assign multiple variables on one line" (se recomienda buscarlo en Inglés por ser el lenguaje universal en la programación)
2. Checa los resultados, usualmente el primer o segundo resultado te dirán como crear varias variables en una sola línea.

**Para aprender Python, visita**: 


*   [https://www.w3schools.com/python/python_operators.asp](https://www.w3schools.com/python/python_operators.asp)
<br><br>

**Para encontrar soluciones a preguntas específicas, intenta con**: 

*   Stack Overflow
<br><br>

**Para los standards de programación en Python, checa:**


*   http://google.github.io/styleguide/pyguide.html
*   https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html

# **Actividad #3**
Crea y asigna variables en una sola línea.<br>
Imprime el valor de las variables.

* El nombre de una variable debe empezar con una letra o con un guión bajo '_'.
* El nombre de una variable no puede empezar con un número.
* El nombre de una variable solamente puede contener carácteres alfa-numéricos y guiones bajos
* Las mayúsculas y las minúsculas en las variables hacen una diferencia (age, Age y AGe son tres variables diferentes)

In [ ]:
# Busca en Internet para encontrar la respuesta
# ¿Cómo asignar 3 variables en una sola línea de código?

#TODO

Imprime el nombre de la variable y su valor de la siguiente manera: <br>
variableName = value <br>

In [ ]:
# Ejemplo de como imprimir el nombre de la variable y su valor
variable1 = 'Paul'
variable2 = 'Bunyon'

# Imprime un String y luego el valor de la variable
print("variable1 = " , variable1)
print("variable2 = " , variable2)

# **Actividad #4**
Crea y asigna valores a dos variables<br>
Imprime el nombre de esas variables y sus valores.

In [ ]:
# Imprime un String y luego el valor de la variable

#TODO

Las variables pueden ser Strings: <br>


> name = "Blue River"<br>



también pueden ser variables numéricas:<br>


>   length = 6<br>
  width = 4.5

Las variables numéricas pueden ser: 


> Integers (que son números enteros)


> Floating Point Numbers (que son números reales)

In [ ]:
# Asignación de variables tipo Integer
number_of_customers = 65
number_of_shopping_carts = 60
print(number_of_customers, number_of_shopping_carts)

In [ ]:
# Asignación de variables tipo Float
mpg = 24.5
miles = 100.5
print(mpg, miles)

# **Actividad #5**
Crea dos variables de tipo Integer<br>
Crea dos variables de tipo Float<br>
Imprime el nombre de las variables y sus valores.

In [ ]:
# Imprime el nombre de las variables Int y Float con sus respectivos valores

Puedes "sumar" variables de tipo String o sumar números usando el símbolo de '+'.

In [ ]:
# "Sumar" dos variables de tipo String
first_statement = "I want to go to the movies"
second_statement = "tonight"
# Imprime las dos variables juntas
print(first_statement, second_statement)
# "Suma" las dos variables y asigna el resultado a una nueva variable
complete_statement = first_statement + second_statement
print(complete_statement)

# **Actividad #6**
Cuando dos variables de tipo String son "sumadas", no se agrega ningún espacio entre ellas. <br>
Vuelve a escribir el código para añadir un espacio (" ") entre "*movies*" y "*tonight*" en la variable *completeStatement*.

In [ ]:
# Vuelve a escribir el código de la Actividad #5 para añadir un espacio entre las
# variables de tipo String y asignar el resultado en completeStatement

Las variables de tipo String solamente pueden ser "sumadas" (también conocido como concatenadas).<br>
Cualquier otra operación matemáticas producirá un error.

In [ ]:
# Los Strings solamente pueden ser concatenados
string1 = "hello"
string2 = "bye"
string3 = string1 + " " + string2
# La siguiente línea producirá un error
string4 = string1 - string2

# Operadores

Python tiene cierto número de operadores aritméticos. <br>

In [ ]:
page(3)

# **Tomando valores de entrada desde los usuarios**<br>
A veces querrás que el usuario ingrese sus propios datos durante la ejecución de tu programa, podrás hacerlo con el código que se muestra abajo.

In [ ]:
# Pregunta al usuario que ingrese dos veces los datos que el desee
# Los datos ingresados serán asignados como Strings
integer1 = input("integer1 =  ")
integer2 = input("integer2 =  ")
# Queremos que nuestros datos ingresados sean de tipo Integer
# Así que los convertiremos a Integer
integer1 = int(integer1)
integer2 = int(integer2)

**Pregunta al usuario por un dato**<br>
Escribe el código para preguntarle al usuario que ingrese un dato de tipo String

In [ ]:
# Pregunta a los usuarios por los datos
# Pregunta por el valor de first_name
# Pregunta por el valor de last_name
# Imprime Hello, first_name last_name

Pregunta al usuario que que ingrese un dato de tipo Integer

In [ ]:
# Pregunta los usuarios por dos variables de tipo Integer: 
# Imprime las dos variables

In [ ]:
# Ahora puedes usar las dos variables ingresadas por el usuario
# para demostrar las operaciones aritméticas
sum = integer1 + integer2
difference = integer1 - integer2
product = integer1 * integer2
div = integer1 / integer2
mod = integer1 % integer2
exponent = integer1 ** integer2
floor = integer1 // integer2

print("sum = ", sum)
print("difference = ", difference)
print("product = ", product)
print("div = ", div)
print("mod = ", mod)
print("exponent = ", exponent)
print("floor = ", floor)

# **Actividad #7**
Escribe un programa que calcule e imprima el área de un triángulo. <br>
El triángulo tiene las siguientes medidas: <br>
base = 12 <br>
altura = 32 <br>

El área de un triángulo es A = 1/2(base * altura)

La salida del programa debe tener el siguiente formato: <br>
*The area of the triangle is: ##*

In [ ]:
# Actividad #7
# Calcula el área de un triángulo
#TODO

Python tiene varios operadores de asignación <br>
Los *operadores de asignación* son usados para asignar valores a las variables.

In [ ]:
page(4)

In [ ]:
# Se muestra que el operador aritmético y el operador de asisgnación
# producen el mismo resultado
x = 7
x *= 3
print("x *= 3 ",x)

x = 7
x = x * 3
print("x * 3 =",x)

# **Actividad #8**
Escribe un programa para demostrar que los operadores aritméticos producen los mismos valores que los operadores de asignación.<br>
Por ejemplo:<br>

In [ ]:
# Actividad 8
#TODO

Las variables también pueden tener los valores de True/False (también llamados valores Booleanos). <br>
Los valores Booleanos solamente pueden ser True o False. <br>
Usualmente son usados con operadores de comparación, lógicos y de identidad.

# Operadores de comparación

In [ ]:
page(5)

In [ ]:
# Ejemplo de operadores de comparación
x = 9
y = 9
z = (x==y)
print(z)

w = 9.0
print(x==w)

v = 9.5
print(x==v)

# **Actividad #9**
Escribe un programa que produzca un valor True y luego un False para cada operador de comparación.<br>

In [ ]:
# Actividad #9
#TODO

# Operadores lógicos

In [ ]:
page(6)

In [ ]:
# Ejemplo usando 'and'
x = 9
y = 4
z = (x < 10) and (x > 8)
print(z)

# **Actividad #10**
Escribe un programa que produzca un valor True para cada operador lógico y después un valor False para cada operador lógico tomando en cuenta lo siguiente:

*   x = 32
*   y = 89

In [ ]:
# Actividad 10
# Imprime un ejemplo de una condición True o False para cada operador lógico

#TODO

# Tipos de datos en Python <br>
A lo largo de este notebook, has visto que las variables pueden tener diferentes tipos de datos. <br>
En el Machine Learning a veces es necesario saber que tipo de dato es una variable o cuando cambiar ese tipo de dato.

In [ ]:
# El tipo de una variable es definido cuando se asigna un valor a esta variable
# Utiliza la función type() para saber el tipo de dato de una variable
x = 439
print(type(x))

# **Actividad 11**
1. Agrega un comentario anotando tu nombre y el número de la actividad
2. Asigna a una variable el valor de 10.23
3. Asigna a una variable el valor de "John Deere"
4. Asigna a una variable el valor de 897
5. Imprime el tipo de dato de cada una de las variables

In [ ]:
#TODO

**Conversión de tipos de dato**
Convertir el tipo de dato de una variable a otro tipo de dato.

In [ ]:
# Ejemplo: se convierte una variable de tipo Float a una variable de tipo Int

# Asignación de la variable de tipo Float
variable2 = 3/4
print(variable2)

# Convierte el tipo de valor a Integer
variable3 = int(variable2)
print(variable3)

Cuando el tipo de dato es cambiado, la variable ahora interpreta que es ese tipo de dato.

In [ ]:
# Convierte un String a un Integer
str_variable = "30"
int_variable = int(str_variable)
print("string = " + str_variable)
print("integer = ", int_variable)

In [ ]:
sum_of_strings = str_variable + str_variable
print("sum of strings = " + sum_of_strings)

In [ ]:
sum_of_integers = int_variable + int_variable
print("sum of integers = ", sum_of_integers)

# Actividad #12
1. Agrega un comentario anotando tu nombre y el número de la actividad
2. Crea dos variables de tipo float
3. Imprime la suma de las variables de tipo float
4. Convierte las variables a tipo String
5. Imprime la suma de las variables de tipo string

In [ ]:
# Crea variables de tipo flotante e imprime la suma
# Convierte las variables de tipo float a tipo string y vuelve a imprimir la suma
#TODO

# Ejercicio de depuración

Depurar (o arreglar) el código de alguien más es una buena manera de aprender Python.
El código de abajo está lleno de errores, la siguiente actividad es arreglar todos los errores que contiene el código.

In [ ]:
# Arregla los errores en el código
# para que pueda correr sin problemas

number_1 = 45;
number_2 = 2;

print("number_1 + number_2 = " number_1 + number_2)
print("number_1/number_2 = " number_1/number_2)

string_2 = George Washington
string_1 = "My name is " + string_2

string_3 = string-1 + string-2 
print(string_3)

string_4 = 3
string_5 = 55

Add two strings together
sum == string_4 + string_5
print "sum = ", sum

Subtract two strings
diff = string_4 - string_5
print("diff = " diff)

x = 34
y = 35
z = (x = y)
print(x," ==" y " is " z)

xx = 9
yy = 4
zz = (xx < 10) and (xx > 8)
print(xx,  < 10 and , xx, > 8 is , zz)

str_variable = 50"
int_variable = 4

print("string = "  str_variable)
print("integer = " int_variable)

print(str_variable + int_variable)

¡Felicidades! Haz terminado tu primer módulo de Python, ¡sigue continuando con el siguiente módulo para que seas todo un experto!

C2 Introducción al Machine Learning con Python
<br><br>
Instrucciones para acceder a los notebooks:<br>
En una ventana de Chrome o Firefox, en la barra de búsqueda escribe: **Google Colab**<br>
En el pop-up naranja, selecciona el apartado: **Github**

*Si el pop-up naranja no aparece...*<br>
En la barra de herramientas del Notebook, selecciona Archivo > Abrir Notebook; el pop-up naranja ya debería aparecer en pantalla.

Selecciona el apartado de GITHUB<br>

En la barra de búsqueda escribre: **cagBRT**. En los resultados aparecerá el repositorio de Github<br>

En el menú drop-down selecciona: cagBRT/**Intro-To-Programming-with-Python**<br>

Y luego selecciona: **C2 Intro to Machine Learning in Python**<br>