<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/C9_Intro_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Tuples**
A tuple is a sequence of immutable Python objects.<br>
Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed.<br>
Tuples use parentheses, whereas lists use square brackets.

You can't add elements to a tuple. <br>
Tuples have no append or extend method.
You can't remove elements from a tuple. Tuples have no remove or pop method.<br>
You can find elements in a tuple, since this doesnâ€™t change the tuple.<br>
You can also use the in operator to check if an element exists in the tuple.

# **Create a Tuple**

In [0]:
#Create a Tuple
tuple1 = ("a","b","c")
print("tuple1 = " ,tuple1)

**Create an empty tuple**

In [0]:
#Create an empty Tuple
tuple1 = ()
print("tuple1 = " ,tuple1)

# **Assignment #1**
Create a Tuple called tp1 with the following elements: 
<br>CA, IA, IL, NY, VA, NC, SC, ND, SD, NM

In [0]:
#Assignment #1

Once a tuple is created, it cannot be changed

In [0]:
tup_numb = (3.14, 42)
tup_states = ('Iowa', 'Illinoise')

# Following action is not valid for tuples
tup_states[1] = "Illinois";

In [0]:
# New tuples can be created from parts of tuples, or combining tuples
tup3 = tup_numb + tup_states
print (tup3)

In [0]:
#Tuples have their own type
type(tup3)

**Creating a tuple with one element**<br>
When creating a tuple with one element, you must still include the comma.

In [0]:
#This will NOT create a tuple 
tup1 = ("d")
print("This is not a tuple: ",type(tup1))

#This will create a tuple 
tup2 = ("d",)
print("This is a tuple: ",type(tup2))

# **Assignment #2**
Create a tuple with 1000 elements. <br>
All 1000 elements should be the same. <br>
<br>
Hint: https://www.tutorialspoint.com/python/python_tuples.htm

In [0]:
Assignment #2

**Checking for membership in the tuple**

In [0]:
new_tup = (1,2,3,4,5,6,7,8,9)
#Check for membership in the tuple
print(5 in new_tup)

# **Assignment #3**
1. Create a tuple with 1000 elements.  All the elements have the value "John Deere", execpt  the 500th element, it have a value "Blue River Tech". <br>
2. Then check that the value "Blue River" is actually in the tuple.

In [0]:
#Assignment #3

# **Assignment #4**
1. Create a function that accepts two tuples.
2. Add the two tuples together.
3. Return the new tuple

In [0]:
#Assignment #4

# **Assignment #5**
1. Create a function accepts a tuple and an integer. 
2. Within the function, check that the integer is is less than or equal to the length of the tuple. 
3. If it is, change the value at that integer position to "CHANGED". 
4. If the integer is greater than the length of the tuple, print "Error: exceeds length"
5. Return the tuple (changed or unchanged)

In [0]:
#Assignment #5