<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/I1_b_Print_Format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To do formatted output, you can use the .format function

In [ ]:
#basic print statement
print("one", "two")

In [ ]:
print('{} {}'.format('one', 'two'))

**Assignment 1:**
Using the format function, print your first and last name

In [ ]:
#Assignment 1

In [ ]:
print('{} {}'.format(1, 2))

We can rearrange the order of the print by changing the order in the braces

In [ ]:
print('{1} {0}'.format(1, 2))

**Assignment 2:**
Print your last name, then your first name

In [ ]:
#Assignment 2

**Padding and Aligning String Output**<br>
Notice the output text uses 10 spaces total for the text. Align right will put the extra spaces in front of the text.

In [ ]:
#To align right
print('{:>10}'.format('right'))

Notice below that the string has 16 characters in it. If we request the output use 20 characters, the extra spaces are in front of the text.

In [ ]:
print('{:>20}'.format('Catherine Gamboa'))

In [ ]:
print('{:10}'.format("NAME:"),  '{:>20}'.format('Catherine Gamboa'))

**Assignment 3:**<br>
Write the following lines with this formatting:<br>
(Indents are 4 spaces)

Oceans:<br>


> North Pacific<br>
South Pacific<br>
North Atlantic<br>
South Atlatnic<br>
Artic<br>
Indian<br>
Southern Ocean<br>

In [ ]:
#Assignment 3

In [ ]:
#@title
#Assignment 3
oceans_list=["North Pacific", "South Pacific", "North Atlantic",
             "South Atlantic", "Artic","Indian","Southern Ocean"]

print('{:10}'.format("Oceans"))
for i in range(len(oceans_list)):
  print('{:10}'.format(" "),'{:30}'.format(oceans_list[i]))

**Let, Right, and Center Aligned**

In [ ]:
#LEFT Aligned
print('{:10}'.format('text'))

#CENTER Aligned
print('{:^10}'.format('text'))

#RIGHT Aligned
print('{:>10}'.format('text'))

**Assignment 2:**<br>
Print "Column Header" in three alignments:<br>


*   Left Aligned
*   Center Aligned
*   Right Aligned<br>

The column is 30 spaces wide

In [ ]:
#Assignment 2

**Truncating Strings**<br>

In [ ]:
#Truncate a string by alloting fewer spaces to the string
#Note the decimal point before the 10
'{:.10}'.format('This is a really long string')

**Assignment 3:**<br>
Given the following string, only print the first 5 letters of it.

**Format numbers**<br>

In [ ]:
#d is for integer
#f is for float
print('{:d}'.format(98))
print('{:f}'.format(98.456))

**Assignment 4:**<br>
Print the following numbers<br>


*   23
*   45.32
*   3.1415965
*   56,567,567

In [ ]:
#Assignment 4

**Padding Numbers**

In [ ]:
#To right justify numbers
#note the extra spaces in front of the number
print('{:4d}'.format(42))
print('{:4d}'.format(442))
print('{:4d}'.format(4442))

**Assignment 5**:
Print the following list of numbers in a column. <br>The column is 15 spaces wide. <br>

readings=[23,23.4,25.1,23.9,26.0,21.9]

In [ ]:
#Assignment 5

**Padding with zeros**

In [ ]:
#Add zeros to the left side of numbers
print('{:04d}'.format(16))
print('{:04d}'.format(116))
print('{:04d}'.format(1116))

**Padding and Truncating**<br>
The first number is for the of digits (including the decimal point)<br>
The second number is for the number of values to the right of the decimal point

In [ ]:
print('{:06.1f}'.format(3.141592653589793))
print('{:06.2f}'.format(3.141592653589793))
print('{:06.3f}'.format(3.141592653589793))

**Signed Numbers**

In [ ]:
#Note the space in before the d
#You need this to align positive numbers
print('{: d}'.format((-23)))
print('{: d}'.format((23)))

In [ ]:
#If you want to align the sign of the numbers
print('{:=5d}'.format((-23)))
print('{:=5d}'.format((23)))
print('{:=+5d}'.format((23)))

**Parametrized Formats**

In [ ]:
ali='^'
wide=20

print('{:{align}{width}}'.format('text', align=ali, width=wide))
print('{:.{prec}} = {:.{prec}f}'.format('Gibberish', 2.7182, prec=3))
print('{:{width}.{prec}f}'.format(2.7182, width=10, prec=2))

[Format Method](https://www.w3schools.com/python/ref_string_format.asp)