<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/I2_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this notebook we:<br>
- review lists<br>
- introduce<br>

>*   tuples
>*   dictionaries
>*   sets

# Review of Lists
>sort() - Sorts list in-place<br>
append() - Adds element to end of list<br>
insert() - Inserts element at index<br>
pop() - Removes element at index<br>
remove() - Removes first occurrence of value<br>
reverse() - Reverses list in-place<br>

In [ ]:
#Create a list
ints=[8,56,43,2,1,99,72,3453245,3]

In [ ]:
#Manipulate lists

#Access one element
print(f"Fifth element is '{ints[5]}'")

#Change one element
ints[4]=-909090
print(f"Changed one element '{ints[5]}'")

#Remove an element
ints.pop()
print(f"popped element {ints}")

ints.remove(43)
print(f"removed element {ints}")

**Assignment 1**<br>
1. Ask a user for three animals
2. Print the list
3. Ask the user which animal to remove
4. Ask the user to name another animal
5. Print the new list

In [ ]:
#Assignment 1

# Tuples

Tuples are another type of sequence data type in Python, similar to lists. <br>
Unlike lists, tuples are immutable, meaning their elements cannot be altered once created.<br>
 They are defined by enclosing elements in parentheses ( ).

Tuples are generally used for collections of items that should not be modified.<br>

 **Tuples are faster than lists, which makes them great for read-only operations**

In [ ]:
#Defining a tuple
tuple1=("dog","cat","horse","snake","lizard")

Use tuples for the following:
- Storing constants or configuration data
- Function return values with multiple components
- Dictionary keys, since they are hashable

**Example of use case for tuples**

In [ ]:
#List method
all_files=['rhino1.jpg','rhino2.jpg','rhino3.png','rhino.data','rhino.csv','rhino_data.xls']
#find all jpg and png files
image_files=[]
extensions=['jpg','png']
for file in all_files:
  if file.endswith(extensions[1]) or file.endswith(extensions[0]):
    image_files.append(file)
print(image_files)

In [ ]:
#Tuple method
all_files=['rhino1.jpg','rhino2.jpg','rhino3.png','rhino.data','rhino.csv','rhino_data.xls']
#find all jpg and png files
image_files=[]
extensions=('jpg','png')#Tuple
for file in all_files:
  if file.endswith(extensions[1]) or file.endswith(extensions[0]):
    image_files.append(file)
print(image_files)

**Use indexing on a tuple**

There are only two builtin functions for Tuples<br>
>index: returns the index of the value<br>
count: returns the number of instances of the value

In [ ]:
people_data=[("Kali", 11), ("Momo",2),("Kinsey",5)]
for i in range (len(people_data)):
   print(people_data[i][1])

In [ ]:
limerick=("There","once", "was","a","man","from","Nantucket",
          "who","kept", "all", "his", "cash", "in","a","bucket",
          "his","daughter","named","Nan",
          "ran","away", "with","a","man",
          "And","as","for","the","bucket,","...")

In [ ]:
limerick.index('Nan')

In [ ]:
limerick.count('a')

**Assignment 2**<br>
1. Print the last words in each line of limerick.<br>
2. Write code to determine how many times does the letter series "ucket" appear in the tuple?

In [ ]:
#Assignment

## Adding values to a tuple
tuples are immutable, meaning that once they are created, their elements cannot be modified. <br>
However, there may be times when you need to add elements to a tuple.

In [ ]:
names=("andy","juan","hari","bea")
print(f"the elements of names: {names}")

**Add an element to the tuple**

In [ ]:
names += ("raj",)
print(f"the elements of names: {names}")

**Add two tuples**

In [ ]:
more_names=("kali", "kinsey")
names+=more_names
print(f"the elements of names: {names}")

**Convert a tuple to a list, then convert back to a tuple**

In [ ]:
names=list(names)
names.append('maria')
names=tuple(names)
print(f"the elements of names: {names}")

Use '*' to add elements to a tuple

In [ ]:
names=(*names,'jose','sam')
print(f"the elements of names: {names}")

**Assignment 3**<br>
1. print out the even elements in values<br>
2. add 5 more elements to values<br>
3. print out all elements of values that are divisible by 6
4. print out the elements of values in ascending order

In [ ]:
#Assignment 3

## Deleting Elements from a Tuple

1. Modify the length of the tuple

In [ ]:
numbers=(4,5,6,7,8,9,10,11,12,13,14,15)
print(f"the elements of numbers: {numbers}")

numbers_length=len(numbers)
numbers=numbers[3:numbers_length-3]
numbers=tuple(numbers)
print(f"the elements of numbers: {numbers}")

In [ ]:
print(f"the elements of numbers: {numbers}")
left=numbers[0:2]
right=numbers[4:5]
numbers=left+(999,)+right
numbers=tuple(numbers)
print(f"the elements of numbers: {numbers}")

**Assignment 4**<br>
Given the following tuple<br>
1. remove all even values
2. add an odd value for each removed even value

In [ ]:
#Assignment 4
numbers=(42,5,64,73,8,99,10,33,12,13,24,15,16,17,18,19,20,21,24,56,888)

# Dictionaries

A dictionary in Python is an unordered, mutable data type that stores mappings of unique keys to values. Dictionaries are written with curly braces { } and consist of key-value pairs separated by commas.

Dictionaries are useful for storing data in a structured manner and accessing values by keys.

**A dictionary is faster than a list in Python.** <br>

It is more efficient to use dictionaries for the lookup of elements as it is faster than a list and takes less time to traverse.

Moreover, lists keep the order of the elements while dictionary does not.

**Create a dictionary**<br>

Dictionary keys must be immutable objects like strings, numbers, or tuples. <br>

Dictionary values can be any object.<br>

**As of Python version 3.7, dictionaries are ordered** <br>This means that the items have a defined order, and that order will not change.

**There are two ways to create a dictionary**

In [ ]:
#METHOD 1
#name,id, and address cannot change, but the values assigned to them can change
student_dictionary={
    "name":"Kali",
    "id": 3343234,
    "address":"32 Main St, DeMoine, IOWA",
}

print(student_dictionary)

In [ ]:
#METHOD 2
other_dictionary=dict(name="baby",movie="dirty dancing")
print(other_dictionary)

**Dictionary items can be referred to by their key**

In [ ]:
print(student_dictionary["id"])

**Duplicate key values are not allowed**<br>
Dulpicate values overwrite existing values

In [ ]:
student_dictionary={
    "name":"Kali",
    "id": 3343234,
    "address":"32 Main St, DeMoine, IOWA",
    "name":"Toby",
    "id": 44,
    "address":"43 Lava St, Honolulu, Hawaii",
}

print(student_dictionary)

Dictionary keys must be strings or integers<br>
Dictionary values can be any type of object

In [ ]:
example_dictionary={
    "name":"sensor 1",
    1:34,
    2:36,
    3:39,
    4:45,
    5:60
}
print(example_dictionary)

**Assignment 5**<br>
Create a dictionary to store pet name, species, phone number

In [ ]:
#Assignment 5

**Using zip to create a dictionary**<br>
The zip() function makes an iterator that aggregates elements from each of the iterables<br>
We can create a dictionary when it is used in dict() method

In [ ]:
# 1. create a list for keys and a list for values
keys = ["IST", "SAW", "STN"]
values = ["Istanbul Airport", "Sabiha Gokcen International Airport", "London Stansted Airport"]

#2. zip the lists together
zip_dictionary = dict(zip(keys, values))
print(zip_dictionary)

**Using fromkeys to create a dictionary**<br>
The fromkeys() method returns a dictionary with the specified keys and the specified value.

**With a common value**

In [ ]:
# specify the keys of the new dictionary
keys = ["IST", "SAW", "STN"]

# the value for all keys as an optional parameter
# default value is None
value ="to_be_defined"

fromkeys_dictionary = dict.fromkeys(keys, value)
print(fromkeys_dictionary)

**With the default value**

In [ ]:
# specify the keys of the new dictionary
keys = ["IST", "SAW", "STN"]

# the value for all keys as an optional parameter
# default value is None

fromkeys_dictionary = dict.fromkeys(keys)
print(fromkeys_dictionary)

**Assignment 6**<br>

1. Create a dictionary using the zip method
2, Create a dictionary using the fromkeys method

In [ ]:
#Assignment 6

## Accessing values in a dictionary

If you try to access an element with a key which does not exist in your dictionary, you get a KeyError.

To avoid the KeyError, access the elements of a dictionary with get() method.

Alternatively, you can check the existence of the key with ‘in’ keyword.

In [ ]:
currency = {'Pound': 0.091, 'Euro': 0.11, 'Usd': 0.12, 'Afghani': 9.15, 'Bangladeshi Taka': 10.0 }

# simple lookup with []
print(currency['Pound'])

In [ ]:
#THIS WILL CAUSE AN ERROR
# simple lookup with [] when the key does not exist
print(currency['Dinar']) # trows KeyError

In [ ]:
# avoiding KeyError with get() method
print(currency.get('Dinar'))

In [ ]:
# avoiding KeyError with 'in' operator
print(currency['Dinar']) if 'Dinar' in currency else print("key does not exist")

**Assignment 7**<br>

Given the dictionary below, write code to determine if an animal is in the dictionary.

In [ ]:
#Assignment 7
animals={"mammals":20,"reptiles":32,"amphibians":45,"birds":87, "fish":20, "invertebrates":66}

## Inserting an item into a dictionary<br>
There is no add(), insert()or append()methods that you can use to add items into your dictionary.

Instead, you must create a new key to store the value in your dictionary.

If the key already exists in the dictionary, then the value will be overwritten.

**Adding key:value pairs**

In [ ]:
employees = {"id01": "George", "id02": "Nell", "id03": "Jasper"}

employees["id04"] = "Friedman"
employees["id05"] = "Lindsay"
employees["id06"] = "Burnett"

print(employees)

In [ ]:
#Create a dictionary
currency = {'Pound': 0.091, 'Euro': 0.11, 'Usd': 0.12}
print(currency)

**Add a key and value to the dictionary**

In [ ]:
# using assignment operator with key
# dict[key] = value
currency['Bangladeshi_Taka'] = 10.0
print(currency)

**Change a value in a dictionary**

In [ ]:
# if the key already exists in the dictionary,
# then the value will be overwritten
currency['Euro'] = 0.09
print(currency)

#use update method
peso=[("peso",989)]
currency.update(peso)
print(currency)

**Adding a value only if key does not exist**

In [ ]:
if 'Afghani' not in currency:
    currency['Afghani'] = 9.12
print(currency)

**Adding key and value pair as a tuple**

In [ ]:
new_items = [('romanian_leu', 2.08), ('quatari_rial', 2.34)]
currency.update(new_items)
print(currency)

**Adding two dictionaries**

In [ ]:
more_currency = {
    "Somali_Shilling": 0.01,
    "Serbian_Dinar": 0.08,
}
# adding elements from dict2 to dict_YTL_currency
currency.update(more_currency)
print(currency)

**Assignment 9**<br>
Given the dictionary shown below
1. Add: Columbus, Ohio and Austin, Texas to the dictionary<br>
2. If Salem, Oregon is not in the list add it<br>

In [ ]:
states={"alabama":"montgomery",
        "alaska":"juneau",
        "colorado":"denver",
        "delaware":"dover",
        "maine":"augusta",
        "mississippi":"jackson",
        "new york":"albany"
}

**Removing Items from dictionaries**<br>

To remove an item from a dictionary object, you can use ‘del’ keyword or pop() method. In addition, you can use dictionary comprehensions to remove items of a dictionary.

In [ ]:
currency = {'Pound': 0.091, 'Euro': 0.11, 'Usd': 0.12, 'Afghani': 9.15, 'Bangladeshi Taka': 10.0 }
print (f"dictionary: {currency}")

**Using del to remove a dictionary key:value**<br>

Using del to remove a dict raises exception if the key does not exist

In [ ]:
del currency['Pound']
print (f"dict original : {currency}")

In [ ]:
del currency['Bermudan_Dollar']

In [ ]:
# using pop() to remove an element
removed_value = currency.pop('Euro')
print (f"removed value : {removed_value}")
print (f"dictionary : {currency}")

**Using pop()** doesn't raise exception 'No Key' is assigned to the removed_value

In [ ]:
removed_value = currency.pop('Bermudan_Dollar', 'No Key' )
print (f"removed value : {removed_value}")
print (f"dictionary : {currency}")

**Removing dictionary elements using comprehension**

In [ ]:
currency = {'Pound': 0.087, 'Euro': 0.09, 'Usd': 0.12, 'Bangladeshi_Taka': 10.0, 'Afghani': 9.12, 'romanian_leu': 2.08, 'quatari_rial': 2.34, 'Somali_Shilling': 68.01, 'Serbian_Dinar': 11.62}
print (f"dictionary before removal : {currency}")

new_currency = {key:val for key, val in currency.items() if val < 1.0}

print (f"dictionary after removal : {new_currency}")

**Assignment 10**<br>
Given the dictionary shown below,
1. Remove Juneau, Alaska and Augusta, Maine

In [ ]:
states={"alabama":"montgomery",
        "alaska":"juneau",
        "colorado":"denver",
        "delaware":"dover",
        "maine":"augusta",
        "mississippi":"jackson",
        "new york":"albany"
}

**Copy a dictionary**<br>

**copy() method** makes a copy of an existing dictionary.

**To create a deep copy**: ‘copy.deepcopy(dict)’ method should be used.

In [ ]:
import copy
currency = {'Pound': [0.091, 0.087], 'Euro': 0.093, 'Usd': 0.121}

# create a copy of the original dictionary
currancy_copy = currency.copy()

# modify the primitive datatype value in the new dictionary
currancy_copy  ["Euro"] = 0.081
print (f"original :{currency}")
print (f"copy  : {currancy_copy }")

# modify the primitive datatype value in the new dictionary
currency ["Pound"] = [9]
print (f"\noriginal :{currency}")
print (f"copy  : {currancy_copy}")

# modify the list or user defined object value in the new dictionary
currancy_copy ["Pound"].append(0.078)
print (f"\noriginal :{currency}")
print (f"copy  : {currancy_copy }")

In [ ]:
currency = {'Pound': [0.091, 0.087], 'Euro': 0.093, 'Usd': 0.121}

# create a copy of the dictionary
deepCopycurrency = copy.deepcopy(currency)

# modify the list or user defined object value in the new dictionary
deepCopycurrency["Pound"].append(0.078)
print (f"\noriginal :{currency}")
print (f"copy  : {deepCopycurrency}")

**Assignment 11**
Make two copies of the dictionary
1. a independent copy<br>
2. a dependent copy

In [ ]:
states={"alabama":"montgomery",
        "alaska":"juneau",
        "colorado":"denver",
        "delaware":"dover",
        "maine":"augusta",
        "mississippi":"jackson",
        "new york":"albany"
}

## Merging Dictionaries

In [ ]:
currency_1 = {'Pound': 0.091, 'Euro': 0.093, 'Usd': 0.121}
currency_2 = {'Pound': 0.083, 'Afghani': 9.12, 'Romanian_Leu': 2.08}

currency = currency_1 | currency_2
print(currency)

**Assignment 12**<br>
1. Create two dictionaries<br>
2. Merge the two dictionaries into one

In [ ]:
#Assigbment 12

## Sorting Dictionaries

**Sort by key**

In [ ]:
import collections

# sort a dictionary by key
currency = {'Pound': 0.087, 'Euro': 0.09, 'Usd': 0.12, 'Bangladeshi_Taka': 10.0,
            'Afghani': 9.12, 'Romanian_leu': 2.08, 'Quatari_rial': 2.34,
            'Somali_Shilling': 0.01, 'Serbian_Dinar': 0.08}

print(f"Sorted on key:{sorted(currency.items())}")
print(f"Resverse sorted:{sorted(currency.items(), reverse = True)}")

**Sort by value**

In [ ]:
sorted_currency = {k: v for k, v in sorted(currency.items(), key=lambda item: item[1])}

reversed_sorted_currency = {k: v for k, v in sorted(currency.items(), key=lambda item: item[1], reverse = True)}

print(f"\noriginal                :{currency}")
print(f"sorted by value         :{sorted_currency}")
print(f"reversed sorted by value:{reversed_sorted_currency}")

**Assignment 13**<br>
Given the dictionary shown below<br>
1. Sort on the keys
2. Sort on the value

In [ ]:
#Assignment 13
states={"alabama":"montgomery",
        "alaska":"juneau",
        "colorado":"denver",
        "delaware":"dover",
        "maine":"augusta",
        "mississippi":"jackson",
        "new york":"albany",
        "utah":"salt lake city",
        "south dakota":"pierre",
        "ohio":"columbus",
        "maryland":"anapolis",
        "florida":"tallahassee",
        "wisconsin":"madison"
}

## Looping through a dictionary

**Loop using values**

In [ ]:
currency = {'Pound': 0.08, 'Euro': 0.09, 'Usd': 0.12}

# iterating using .values()
for value in currency.values():
    print(value)

**Loop using keys**

In [ ]:
# iterating using .keys()
for key in currency.keys():
    print(key)

In [ ]:
# iterating using  keys directly
for key in currency:
    print(key)

**Looping using items**

In [ ]:
# iterating using .items()
for key, value in currency.items():
    print('Key:' + str(key) + ', Value :' + str(value))

**Loop using compresions**

In [ ]:
# iterating using dicctionary comprehensions
print( {(key,val) for key, val in currency.items()})

**Assignment 14**<br>
Using the dictionary shown below<BR>
1. count the number of letters in the city
2. count the number of letters in the state
3. Rank in ascending order the number of letters in the state.

In [ ]:
#Assignment 14
#a for loop is not required
#Example of sorting
currency = {'Pound': 0.087, 'Euro': 0.09, 'Usd': 0.12, 'Bangladeshi_Taka': 10.0,
            'Afghani': 9.12, 'Romanian_leu': 2.08, 'Quatari_rial': 2.34,
            'Somali_Shilling': 0.01, 'Serbian_Dinar': 0.08}

print(f"Sorted on key:{sorted(currency.items())}")
#---------------
states={"alabama":"montgomery",
        "alaska":"juneau",
        "colorado":"denver",
        "delaware":"dover",
        "maine":"augusta",
        "mississippi":"jackson",
        "new york":"albany",
        "utah":"salt lake city",
        "south dakota":"pierre",
        "ohio":"columbus",
        "maryland":"anapolis",
        "florida":"tallahassee",
        "wisconsin":"madison"
}

In [ ]:
# @title
for key,value in states.items():
  print("Letters in city:",value,len(value),"and in state:",key,len(key))

print("Sorted by state length",sorted(states,key=len))

## Dictionary builtin functions

- popitem(): Remove the last item from the dictionary<br>
- pop(key, defaultvalue): Removes and returns an element from a dictionary for the given key
- keys(): Return the keys
- values(): Return the values
- items(): Return the dictionary’s key-value pairs
- get(key[, value]): Returns the value for the specified key if the key is in a dictionary
- fromkeys(keys, value): Returns a dictionary with the specified keys and the specified value
- setdefault(key, value): Returns the value of the item with the specified key. If the key does not exist, inserts the key with the specified value
- update(iterable): Inserts the specified items to the dictionary if the key is not in the dictionary, otherwise it updates the value
- copy(): Returns a shallow copy of the dictionary
- clear(): Removes all items from the dictionary

# Sets<br>

The Python sets are highly useful to efficiently remove duplicate values from a collection like a list and to perform common math operations like unions and intersections.

A set is a collection of unique data. That is, elements of a set cannot be duplicates<br>

## To create a set:<br>
>set_name={element1, element 2,...,elementN}

Note: When you run this code, you might get output in a different order.<br>

This is because the set has no particular order.

In [ ]:
#Strings
student={"abby","barry","clio","danny"}
print(student)

In [ ]:
#numbers
student_id={1,2,3,4}
print(student_id)

In [ ]:
#mixed
student_major={"Art",123,4.34}
print(student_major)

**Assignment #1**<br>
1. Create a set of at least 10 elements
2. Print out the set

In [ ]:
#Assignment 1

## Sets with duplicates<br>
Notice only of the two "abby" elements is listed

In [ ]:
student={"abby","barry","clio","danny","abby"}
print(student)

## Create an empty set<br>

In [ ]:
student_address=set()
print(student_address)

**Assignment 2**<br>
Create an empty set<br>
Create an empty dictionary<br>
Create an empty list<br>

Print out each data structure and its type

In [ ]:
#Assignment 2

##Adding elements to a set

In [ ]:
student_address={"112 main st", "34 high st", "56 washington st"}
print(f"Address: {student_address}")

student_address.add("114 main st")
print(f"Address: {student_address}")

student_address.add("56 washington st")
print(f"Address: {student_address}")

**Assignment 3**<br>
Create a set of at least 10 elements<br>
Add two more elements to the set<br>
Add a duplicate element to the set

In [ ]:
#Assignment 3

## Updating a set

To add values to a set trt are from other collection types, use update

**Add list**

In [ ]:
animals={"dog","cat","mole","owl"}
list_of_animals=["mouse", "fish","fish", " fish","elephant","sloth"]
animals.update(list_of_animals)
print(animals)

**Add tuple**

In [ ]:
animals={"dog","cat","mole","owl"}
tuple_of_animals=("mouse", "fish","fish", " fish","elephant","sloth")
animals.update(tuple_of_animals)
print(animals)

Notice in the above printouts, there are two fish in the set. Why?

**Add set**

In [ ]:
animals={"dog","cat","mole","owl"}
set_of_animals={"mouse", "fish","elephant","sloth"}
animals.update(set_of_animals)
print(animals)

**Assignment 4**<br>
Create a set<br>
Add a list to the set<br>
Add a tuple to the set<br>
Add a dictonary to the set<br>
Add a set to the set

In [ ]:
#Assignment 4

## Remove elements from a set<br>

Use discard to remove elements from a set

In [ ]:
enrollment={"John","Hari","Carlos","Camila","Eli"}
print(enrollment)
enrollment.discard("John")
print(enrollment)

## Built-in Functions of sets<br>
<br>

**all()**	Returns True if all elements of the set are true (or if the set is empty).<br>

**any()**	Returns True if any element of the set is true. If the set is empty, returns False.<br>

**enumerate()**	Returns an enumerate object. It contains the index and value for all the items of the set as a pair.<br>

**len(**)	Returns the length (the number of items) in the set.<br>

**max()**	Returns the largest item in the set.<br>

**min()**	Returns the smallest item in the set.<br>

**sorted()**	Returns a new sorted list from elements in the set(does not sort the set itself).<br>

**sum()**	Returns the sum of all elements in the set.<br>

**Asignment 5**<br>

Use each of the built-in functions on the sets shown below

In [ ]:
# @title
#Thanks to Andres Gonzalez
set1={2,4,6,8,10}
set2={"Tiger","bat","aardvark","Zebra"}
set3={3,4.3,"4.3","3"}
set4={True,False,True,False}
set5={5>4,6>7,88>99}

print(all(set1))
print(any(set2))
print(enumerate(set2))
print(len(set4))
print("max",max(set2))
print(min(set2))
print(sorted(set4))
print(sum(set1))
print(set5)

**Assignment 6**<br>
1.Ask the user to enter a value<br>
2.Add the value to a set<br>
3.Ask the user for 4 more values and add them to a set<br>
4.Go thorugh the set, if the value is a string-remove it from the set<br>
5.If the value is a float, round to the nearest integer
6. print out the set

## Set Operations

### Union<br>
The union of two sets A and B include all the elements of set A and B.<br>

Use the | operator or the union() method to perform the set union operation

In [ ]:
set_a={1,2,3,4}
set_b={"A","B","C","D"}

#Using the | symbol
union_a_b=set_a |set_b
print(union_a_b)

#Using the union function
set
union_a_b= set_a.union(set_b)
print(union_a_b)

### Set Intersection<br>

The intersection of two sets A and B include the common elements between set A and B.<br>

Use the & operator or the intersection() method to perform the set intersection operation.

In [ ]:
set_a={1,2,3,4,5}
set_b={"A","B","C","D",5}

#Using the & symbol
intersection_a_b=set_a & set_b
print(intersection_a_b)

#Using the intersection function
set
union_a_b= set_a.intersection(set_b)
print(intersection_a_b)

### Difference between Two Sets<br>
The difference between two sets A and B include elements of set A that are not present on set B.<br>

Use the - operator or the difference() method to perform the difference between two sets

In [ ]:
set_a={1,2,3,4,5}
set_b={"A","B","C","D",5}

#Using the - symbol
difference_a_b= set_a - set_b
print(difference_a_b)

#Using the intersection function
set
difference_a_b= set_a.difference(set_b)
print(difference_a_b)

### The symmetric difference <br>
Symmetric difference between two sets A and B includes all elements of A and B without the common elements.<br>

use the ^ operator or the symmetric_difference() method to perform symmetric difference between two sets.

In [ ]:
set_a={1,2,3,4,5}
set_b={"A","B","C","D",5}

#Using the ^ symbol
sym_a_b= set_a ^ set_b
print(sym_a_b)

#Using the symmetric_difference function
set
sym_a_b= set_a.symmetric_difference(set_b)
print(sym_a_b)

### Check for equality of sets

 Use the == operator to check whether two sets are equal

In [ ]:
set_a={1,2,3,4,5}
set_b={"A","B","C","D",5}

#Using the == symbol
sym_a_b= set_a == set_b
print(sym_a_b)

**Assignment 7**

Given:
set_a={1,2,3,4,5,6,7,8,9}<br>
set_b={2,4,6,8,10,12,14}<br>
set_c={1,3,5,7,9}<br>

Given: ^,&,|,-,==

Given: ()

Write functions to find the following sets

In [ ]:
set_a={1,2,3,4,5,6,7,8,9}
set_b={2,4,6,8,10,12,14}
set_c={1,3,5,7,9,11,13,15}
set_d={2,4,6}

In [ ]:
#Example
ss=(set_a|set_b) | (set_c|set_d)
print(ss)

In [ ]:
#Find False

print(ss)

In [ ]:
#Find True
ss=
print(ss)

In [ ]:
#Find {10, 11, 12, 13, 14, 15}
ss=
print(ss)

In [ ]:
#Find {10, 12, 14}
ss=
print(ss)

In [ ]:
#Find {1, 3, 5, 7, 9}
ss=
print(ss)

In [ ]:
#Find set()
ss=
print(ss)

In [ ]:
#Find {1, 3, 5, 7, 9, 10, 12, 14}
ss=
print(ss)

In [ ]:
#Find {8, 2, 4, 6}
ss=
print(ss)

In [ ]:
#Find {8}
set_d={2,4,6}
ss=
print(ss)

In [ ]:
#Find {2, 4, 6}
ss=
print(ss)