<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/Print_Format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To do formatted output, you can use the .format function

In [ ]:
#basic print statement
print("one", "two")

In [ ]:
print('{} {}'.format('one', 'two'))

**Assignment 1:**
Using the format function, print your first and last name

In [ ]:
#Assignment 1

In [ ]:
print('{} {}'.format(1, 2))

We can rearrange the order of the print by changing the order in the braces

In [ ]:
print('{1} {0}'.format(1, 2))

**Assignment 2:**
Print your last name, then your first name

In [ ]:
#Assignment 2

**Padding and Aligning String Output**<br>
Notice the output text uses 10 spaces total for the text. Align right will put the extra spaces in front of the text.

In [ ]:
#To align right
print('{:>10}'.format('right'))

Notice below that the string has 16 characters in it. If we request the output use 20 characters, the extra spaces are in front of the text.

In [ ]:
print('{:>20}'.format('Catherine Gamboa'))

In [ ]:
print('{:10}'.format("NAME:"),  '{:>20}'.format('Catherine Gamboa'))

**Assignment 3:**<br>
Write the following lines with this formatting:<br>
(Indents are 4 spaces)

Oceans:<br>


> North Pacific<br>
South Pacific<br>
North Atlantic<br>
South Atlatnic<br>
Artic<br>
Indian<br>
Southern Ocean<br>

In [ ]:
#Assignment 3

In [ ]:
#@title 
#Assignment 3
oceans_list=["North Pacific", "South Pacific", "North Atlantic", 
             "South Atlantic", "Artic","Indian","Southern Ocean"]

print('{:10}'.format("Oceans"))
for i in range(len(oceans_list)):
  print('{:10}'.format(" "),'{:30}'.format(oceans_list[i]))

**Let, Right, and Center Aligned**

In [ ]:
#LEFT Aligned
print('{:10}'.format('text'))
#CENTER Aligned
print('{:^10}'.format('text'))
#RIGHT Aligned
print('{:>10}'.format('text'))