<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/Python_Cheatsheet_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**if statements**<br>
The indented code will only execute when the if statement is true

In [ ]:
#if statement
x=5
if x==5:
  print("x==5 is true")
  
print("this is outside the if statment")

**if/else statements**<br>
The indented 'if code' will execute when the if statement is true. <br>
The else statement code will execute when the if statement is false

In [ ]:
#an if/else statement 
x=90
if x%2==0:
  print(x,"%2 is true") #execute this when if statement is true
else:
  print(x," is not divisible by 2")#execute this when if statement is false

#try with a different value for x
x=91
if x%2==0:
  print(x,"%2 is true")#execute this when if statement is true
else:
  print(x,"is not divisible by 2")#execute this when if statement is false

**if/elif statements**<br>
When the if statement is true, the indented if code will execute. All the elif statements and code will NOT execute.<br>
When the if statement is false, the first elif statement will be checked. If it is true, the elif code will be executed and the other elif statements will be ignored.

In [ ]:
x=int(input("Enter an integer: "))

if x%3==0:
  print(x,"is divisible by 3")
elif x%7==0:
  print(x,"is divisible by 7")
elif x%9==0:
  print(x,"is divisible by 9")
elif x%10==0:
  print(x,"is divisible by 10")
#an else statement is not required, but it is good practice
else: 
  print(x,"is not divisible by 3,7,9,10")

**Data Collections: lists**

In [ ]:
#create a list
list_name = ["element1","element2","element3"]

#print the full list
print(list_name)

#print an element in a list
print("first element=",list_name[0])
print("first element=",list_name[1])
print("first element=",list_name[2])

**lists built in functions**

In [ ]:
#sort a list
list_name = [22,33,55,11,21,68,32,99,67]
print(list_name)
list_name.sort()
print(list_name)

In [ ]:
#add to the end of a list
print(list_name)
list_name.append(-88)
print(list_name)

In [ ]:
#removing an element from a list
print(list_name)
#the function parameter uses the index of the element
#to remove the element at index 1
list_name.pop(1) 
print(list_name)

In [ ]:
#length of a list
print("length=",len(list_name))

**Two dimensional lists**<br>

In [ ]:
#create a 2D list
row1 = [1,-1,'a']
row2 = [5,-5,'c']
row3 = [21,-23,'d']

#make a list of the lists
dataset = [row1,row2,row3]

#print the dataset
print(dataset)
#select by rows
print("row1 = ",dataset[0])
print("row2 = ",dataset[1])
print("row3 = ",dataset[2])

#select by elements in the dataset
print("row1, element1 = ",dataset[0][0])
print("row2, element2 = ",dataset[1][1])
print("row3, element3 = ",dataset[2][2])

**For loops**

In [ ]:
#Create a for loop
for iterating_variable in range(10):
  print(iterating_variable)

In [ ]:
#For loop with start, stop, increment values
start=3
stop=11
increment=2
for iterating_variable in range(start,stop,increment):
  print(iterating_variable)

In [ ]:
#looping through a string
for iterating_variable in "winter":
  print(iterating_variable)

In [ ]:
#looping through a list
list_name = [2,4,6,8,10]
for i in range(len(list_name)):
  print(i)

In [ ]:
#nested for loops
for i in range(5):
  for j in range(2,5,2):
    print("i=",i,"j=",j)