<a href="https://colab.research.google.com/github/cagBRT/Intro-to-Programming-with-Python/blob/master/Python_Cheatsheet_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Variables**<br>

In [ ]:
#strings
variable_name1 = "this is a string"
variable_name2 = "this is also a string"
#integers
variable_name3 = 345
#floats
variable_name4 = 3.14
#lists
list_name = [1,2,3,4,5,6]
#boolean
boolean_variable = True

**Determine the type of each variable**

In [ ]:
print("variable_name1: ", type(variable_name1))
print("variable_name2: ", type(variable_name2))
print("variable_name3: ", type(variable_name3))
print("variable_name4: ", type(variable_name4))
print("list_name: ", type(list_name))
print("boolean_variable: ", type(boolean_variable))

**Change a variable type**

In [ ]:
#Change a variable type
x = "50"
y = "50"
print("strings x+y=",x+y)

#convert strings to integers
xx=int(x)
yy=int(y)
print("integers xx+yy=",xx+yy)

#convert strings to floats
xxx=float(x)
yyy=float(y)
print("integers xxx+yyy=",xxx+yyy)

**Math Operators**

In [ ]:
a = 4
b = 5
print("multiply: ", a*b)
print("add: ", a+b)
print("divide: ", a/b)
print("subtract: ", a-b)
print("modulus: ", a%b)
print("floor: ", a//b )
print("exponent: ", a**b)

**Assignment Operators**

In [ ]:
#set the value
x=5
# +=
x=5
x+=5
print("x+=5 :", x)
x=5
x=x+5
print("x= x+5 :", x)

# -=
x=5
x-=5
print("x-=5 :", x)
x=5
x=x-5
print("x= x-5 :", x)

# x*=
x=5
x*=5
print("x*=5 :", x)
x=5
x=x*5
print("x= x*5 :", x)

# /=
x=5
x/=5
print("x/=5 :", x)
x=5
x=x/5
print("x= x/5 :", x)

#%=
x=5
x%=5
print("x %=5 :", x)
x=5
x=x%5
print("x= x%5 :", x)

# x//=
x=5
x//=5
print("x//=5 :", x)
x=5
x=x//5
print("x= x//5 :", x)

# x**=
x=5
x**=5
print("x**=5 :", x)
x=5
x=x**5
print("x= x**5 :", x)

**Comparison Operators**

In [ ]:
x=6
y=1

# ==
print("x==y", x==y)

# !=
print("x!=y", x!=y)

# >
print("x>y", x>y)

# >=
print("x>=y", x>=y)

# <
print("x<y", x<y)

# <=
print("x<=y", x<=y)

**Logical Operators**

In [ ]:
#and: true if both statements must be true
x=5
y=20
print("x==5 and x==20 :", x==5 and y==20)

#or true if at least one statement is true
x=3
y=23
print("x==3 or y==3 :", x==3 or y==3)
print("x==33 or y==33 :", x==33 or y==33)

#not reverses the result of a statement
x=3
y=23
print("not(x==3 or y==3) :", not(x==3 or y==3))
print("not(x==33 or y==33) :", not(x==33 or y==33))